body{
    background-image: url(./images/white-design-room-sofa-wallpaper-preview.jpg);
    background-size: cover;
}
header{
    display: flex;
    margin-top: 1%;
}

nav img{
    position: absolute;
    display: inline-block;
    margin-left: 100px;
    color: green;
    width: 70px;
    border: 2PX solid green;
    border-radius: 50%;
    background-color: #04AA6D;
    
}
#nav1{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 5%;
}
nav a{
    margin: 40px;
    margin-left: 30%;
    direction: row;
    justify-content: center;
    margin-left: 10px;
    color: green;
    font-size: 20px;
    font-weight: 400px ;
    text-decoration: none;
    font-weight: bolder;
}

nav a:hover{
   border-bottom: 3px solid #04AA6D ;
    
}

#main{
    position: absolute;
    display: inline-block;
    bottom: 30%;
    left: 35%;
    width: 600px;
    height: 300px;
    color: white;
    text-align: center;
    /* border: 2px solid red; */
    


}

#box1{
    position: absolute;
    top: 24%;
    left: 30%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:  70px;
    color: green;
    font-weight: 900;
} 


#box2{
    position: absolute;
    top: 9%;
    left: 12%;
    font-size: larger;
    font-weight: 900;
    color: green;
    width: 500px;
    /* border: 1px solid red; */

}

.box3{
    width: 20px;
}

box3{
    display: inline-block;
    text-align: center;
    width: 50px;
    
}

#btn1{
   position: absolute;
   top: 50%;
   left: 15%;
    width: 190px;
    height: 60px;
    font-size: large;
    background-color: #04AA6D;
    border: 1px solid #04AA6D;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 900;
}

#btn1:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
#btn2{
    position: absolute;
    top: 50%;
    right: 12%;
    width: 190px;
    height: 60px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid green;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 900;
}
#btn2:hover{
    background-color: #04AA6D;
    box-shadow: #04AA6D;
    color: white;

}

#box3 :hover{
    cursor: pointer;
}